In [3]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import random
import math

In [9]:
imdb=pd.read_csv("IMDB.csv")

In [11]:
imdb

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,114,Whiplash (2014),8.5,492285,Drama,Music,NaN,88.0,3300000.0,107 min,...,8.1,8.1,8.2,8.7,8.0,8.6,8.4,"$13,092,000",35890041,"$48,982,041"
113,115,Wreck-It Ralph (2012),7.7,295125,Animation,Adventure,Comedy,72.0,165000000.0,NaN,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
114,116,X-Men: Days of Future Past (2014),8.0,560736,Action,Adventure,Sci-Fi,74.0,200000000.0,132 min,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"
115,117,X-Men: First Class (2011),7.8,556713,Action,Adventure,Sci-Fi,65.0,160000000.0,132 min,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
116,118,Zootopia (2016),8.1,309474,Animation,Adventure,Comedy,78.0,150000000.0,108 min,...,7.8,7.8,8.1,7.7,7.6,8.0,8.0,"$341,268,248",682515947,"$1,023,784,195"

In [13]:
imdb.describe()

,X,Rating,TotalVotes,MetaCritic,Budget,CVotes10,CVotes09,CVotes08,CVotes07,CVotes06,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS
count,117.000000,117.000000,1.170000e+02,110.000000,1.140000e+02,117.000000,117.000000,117.000000,117.000000,117.000000,...,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,116.000000
mean,59.940171,7.873504,3.755791e+05,77.809091,7.459649e+07,65258.683761,82614.264957,113108.444444,69140.401709,25072.495726,...,7.722222,7.709402,7.787179,7.657265,7.627350,7.781197,7.823932,7.235897,7.938462,7.783621
std,34.017564,0.237586,2.627056e+05,8.857170,7.507881e+07,79129.569619,74464.561570,66478.990047,36329.756937,14098.777921,...,0.240011,0.249131,0.273085,0.217476,0.212385,0.355967,0.485417,0.371033,0.237750,0.252275
min,1.000000,7.500000,2.601600e+04,62.000000,1.000000e+06,2060.000000,4083.000000,9078.000000,5309.000000,1668.000000,...,7.300000,7.200000,7.200000,7.100000,7.100000,5.800000,5.900000,6.400000,7.400000,7.300000
25%,31.000000,7.700000,2.223430e+05,72.000000,1.500000e+07,21364.000000,33532.000000,64640.000000,45160.000000,14948.000000,...,7.600000,7.500000,7.600000,7.500000,7.500000,7.600000,7.600000,7.000000,7.800000,7.600000
50%,60.000000,7.800000,3.375710e+05,77.500000,4.000000e+07,47292.000000,64769.000000,106673.000000,67804.000000,24268.000000,...,7.700000,7.700000,7.800000,7.700000,7.600000,7.800000,7.900000,7.200000,7.900000,7.700000
75%,89.000000,8.000000,5.125260e+05,82.750000,1.487500e+08,75556.000000,103896.000000,161460.000000,95756.000000,33492.000000,...,7.900000,7.800000,8.000000,7.800000,7.800000,8.000000,8.100000,7.500000,8.100000,7.900000
max,118.000000,8.800000,1.609713e+06,100.000000,2.600000e+08,584839.000000,485218.000000,304457.000000,162604.000000,67579.000000,...,8.700000,8.700000,8.500000,8.100000,8.100000,8.500000,9.100000,8.200000,8.700000,8.800000

In [14]:
imdb.mean()

X               5.994017e+01
Rating          7.873504e+00
TotalVotes      3.755791e+05
MetaCritic      7.780909e+01
Budget          7.459649e+07
CVotes10        6.525868e+04
CVotes09        8.261426e+04
CVotes08        1.131084e+05
CVotes07        6.914040e+04
CVotes06        2.507250e+04
CVotes05        9.135974e+03
CVotes04        3.879692e+03
CVotes03        2.213795e+03
CVotes02        1.527333e+03
CVotes01        3.644590e+03
CVotesMale      2.431412e+05
CVotesFemale    5.779581e+04
CVotesU18       1.615538e+03
CVotesU18M      1.204581e+03
CVotesU18F      4.602564e+02
CVotes1829      1.482222e+05
CVotes1829M     1.147331e+05
CVotes1829F     3.207433e+04
CVotes3044      1.116459e+05
CVotes3044M     9.264085e+04
CVotes3044F     1.738523e+04
CVotes45A       2.184255e+04
CVotes45AM      1.774393e+04
CVotes45AF      3.695197e+03
CVotes1000      6.004188e+02
CVotesUS        4.852763e+04
CVotesnUS       1.701294e+05
VotesM          7.838462e+00
VotesF          7.920513e+00
VotesU18        8.176923e+00
VotesU18M       8.139316e+00
VotesU18F       8.234188e+00
Votes1829       7.990598e+00
Votes1829M      7.986325e+00
Votes1829F      7.989744e+00
Votes3044       7.722222e+00
Votes3044M      7.709402e+00
Votes3044F      7.787179e+00
Votes45A        7.657265e+00
Votes45AM       7.627350e+00
Votes45AF       7.781197e+00
VotesIMDB       7.823932e+00
Votes1000       7.235897e+00
VotesUS         7.938462e+00
VotesnUS        7.783621e+00
dtype: float64

In [15]:
imdb.median()

X                     60.0
Rating                 7.8
TotalVotes        337571.0
MetaCritic            77.5
Budget          40000000.0
CVotes10           47292.0
CVotes09           64769.0
CVotes08          106673.0
CVotes07           67804.0
CVotes06           24268.0
CVotes05            8530.0
CVotes04            3339.0
CVotes03            1854.0
CVotes02            1123.0
CVotes01            2667.0
CVotesMale        222663.0
CVotesFemale       51558.0
CVotesU18           1234.0
CVotesU18M           897.0
CVotesU18F           305.0
CVotes1829        129202.0
CVotes1829M       101741.0
CVotes1829F        29003.0
CVotes3044        104268.0
CVotes3044M        88233.0
CVotes3044F        15227.0
CVotes45A          19151.0
CVotes45AM         16351.0
CVotes45AF          3440.0
CVotes1000           622.0
CVotesUS           46033.0
CVotesnUS         155972.0
VotesM                 7.8
VotesF                 7.9
VotesU18               8.2
VotesU18M              8.1
VotesU18F              8.3
Votes1829              8.0
Votes1829M             8.0
Votes1829F             8.0
Votes3044              7.7
Votes3044M             7.7
Votes3044F             7.8
Votes45A               7.7
Votes45AM              7.6
Votes45AF              7.8
VotesIMDB              7.9
Votes1000              7.2
VotesUS                7.9
VotesnUS               7.7
dtype: float64

In [16]:
imdb.skew()

X              -0.009063
Rating          1.004290
TotalVotes      1.619784
MetaCritic      0.380997
Budget          0.940824
CVotes10        3.880905
CVotes09        2.445842
CVotes08        0.573914
CVotes07        0.076997
CVotes06        0.323721
CVotes05        0.663502
CVotes04        0.913277
CVotes03        1.179994
CVotes02        1.324033
CVotes01        1.664146
CVotesMale      1.630442
CVotesFemale    1.242900
CVotesU18       1.128882
CVotesU18M      1.316692
CVotesU18F      7.321790
CVotes1829      1.677213
CVotes1829M     1.747071
CVotes1829F     1.237307
CVotes3044      1.525409
CVotes3044M     1.501856
CVotes3044F     1.447886
CVotes45A       1.144535
CVotes45AM      1.160284
CVotes45AF      1.020530
CVotes1000      3.146053
CVotesUS        1.667581
CVotesnUS       1.514655
VotesM          0.966669
VotesF         -0.039476
VotesU18       -1.514961
VotesU18M      -0.944425
VotesU18F      -0.462355
Votes1829       1.040370
Votes1829M      1.087182
Votes1829F     -0.046204
Votes3044       0.973891
Votes3044M      0.843926
Votes3044F      0.046498
Votes45A        0.140274
Votes45AM       0.117435
Votes45AF      -1.503090
VotesIMDB      -0.798551
Votes1000       0.074663
VotesUS         0.459305
VotesnUS        1.031199
dtype: float64

In [21]:
imdb1 = pd.read_csv('IMDB.csv' ,  usecols = ['Title','Rating','Genre1'])

In [22]:
imdb1

                                 Title  Rating     Genre1
0              12 Years a Slave (2013)     8.1  Biography
1                     127 Hours (2010)     7.6  Adventure
2                         50/50 (2011)     7.7     Comedy
3                    About Time (2013)     7.8     Comedy
4                         Amour (2012)     7.9      Drama
..                                 ...     ...        ...
112                    Whiplash (2014)     8.5      Drama
113              Wreck-It Ralph (2012)     7.7  Animation
114  X-Men: Days of Future Past (2014)     8.0     Action
115          X-Men: First Class (2011)     7.8     Action
116                    Zootopia (2016)     8.1  Animation

[117 rows x 3 columns]

In [23]:
imdb

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,114,Whiplash (2014),8.5,492285,Drama,Music,NaN,88.0,3300000.0,107 min,...,8.1,8.1,8.2,8.7,8.0,8.6,8.4,"$13,092,000",35890041,"$48,982,041"
113,115,Wreck-It Ralph (2012),7.7,295125,Animation,Adventure,Comedy,72.0,165000000.0,NaN,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
114,116,X-Men: Days of Future Past (2014),8.0,560736,Action,Adventure,Sci-Fi,74.0,200000000.0,132 min,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"
115,117,X-Men: First Class (2011),7.8,556713,Action,Adventure,Sci-Fi,65.0,160000000.0,132 min,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
116,118,Zootopia (2016),8.1,309474,Animation,Adventure,Comedy,78.0,150000000.0,108 min,...,7.8,7.8,8.1,7.7,7.6,8.0,8.0,"$341,268,248",682515947,"$1,023,784,195"

In [24]:
imdb2 = pd.read_csv('IMDB.csv' ,  usecols = ['Title','Rating','Genre2','MetaCritic'])

In [25]:
imdb2

                                 Title  Rating     Genre2  MetaCritic
0              12 Years a Slave (2013)     8.1      Drama        96.0
1                     127 Hours (2010)     7.6  Biography        82.0
2                         50/50 (2011)     7.7      Drama        72.0
3                    About Time (2013)     7.8      Drama         NaN
4                         Amour (2012)     7.9    Romance        94.0
..                                 ...     ...        ...         ...
112                    Whiplash (2014)     8.5      Music        88.0
113              Wreck-It Ralph (2012)     7.7  Adventure        72.0
114  X-Men: Days of Future Past (2014)     8.0  Adventure        74.0
115          X-Men: First Class (2011)     7.8  Adventure        65.0
116                    Zootopia (2016)     8.1  Adventure        78.0

[117 rows x 4 columns]

In [26]:
imdb2.describe()

           Rating  MetaCritic
count  117.000000  110.000000
mean     7.873504   77.809091
std      0.237586    8.857170
min      7.500000   62.000000
25%      7.700000   72.000000
50%      7.800000   77.500000
75%      8.000000   82.750000
max      8.800000  100.000000

In [28]:
df=pd.read_excel('IMDB.xlsx')
df

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,114,Whiplash (2014),8.5,492285,Drama,Music,NaN,88.0,3300000.0,107 min,...,8.1,8.1,8.2,8.7,8.0,8.6,8.4,"$13,092,000",35890041,"$48,982,041"
113,115,Wreck-It Ralph (2012),7.7,295125,Animation,Adventure,Comedy,72.0,165000000.0,NaN,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
114,116,X-Men: Days of Future Past (2014),8.0,560736,Action,Adventure,Sci-Fi,74.0,200000000.0,132 min,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"
115,117,X-Men: First Class (2011),7.8,556713,Action,Adventure,Sci-Fi,65.0,160000000.0,132 min,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
116,118,Zootopia (2016),8.1,309474,Animation,Adventure,Comedy,78.0,150000000.0,108 min,...,7.8,7.8,8.1,7.7,7.6,8.0,8.0,"$341,268,248",682515947,"$1,023,784,195"

In [31]:
xls_file = pd.ExcelFile('IMDB.xlsx')
xls_file.sheet_names

['movies', 'by genre']

In [44]:
df=pd.read_excel('IMDB.xlsx',sheet_name=0,index_col='X')
df

,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,CVotes10,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
X,,,,,,,,,,,,,,,,,,,,,
1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,75556,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,28939,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,28304,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,38556,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
5,Amour (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,11093,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Whiplash (2014),8.5,492285,Drama,Music,NaN,88.0,3300000.0,107 min,110404,...,8.1,8.1,8.2,8.7,8.0,8.6,8.4,"$13,092,000",35890041,"$48,982,041"
115,Wreck-It Ralph (2012),7.7,295125,Animation,Adventure,Comedy,72.0,165000000.0,NaN,41980,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
116,X-Men: Days of Future Past (2014),8.0,560736,Action,Adventure,Sci-Fi,74.0,200000000.0,132 min,91765,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"
117,X-Men: First Class (2011),7.8,556713,Action,Adventure,Sci-Fi,65.0,160000000.0,132 min,64428,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
118,Zootopia (2016),8.1,309474,Animation,Adventure,Comedy,78.0,150000000.0,108 min,53626,...,7.8,7.8,8.1,7.7,7.6,8.0,8.0,"$341,268,248",682515947,"$1,023,784,195"

In [46]:
movies_df=pd.read_json('IMDB.json')
movies_df

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave�(2013),8.1,496092,Biography,Drama,History,96,20000000,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours�(2010),7.6,297075,Adventure,Biography,Drama,82,18000000,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50�(2011),7.7,283935,Comedy,Drama,Romance,72,8000000,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time�(2013),7.8,225412,Comedy,Drama,Fantasy,NA,12000000,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour�(2012),7.9,76121,Drama,Romance,,94,8900000,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,114,Whiplash�(2014),8.5,492285,Drama,Music,,88,3300000,107 min,...,8.1,8.1,8.2,8.7,8.0,8.6,8.4,"$13,092,000",35890041,"$48,982,041"
113,115,Wreck-It Ralph�(2012),7.7,295125,Animation,Adventure,Comedy,72,165000000,,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
114,116,X-Men: Days of Future Past�(2014),8.0,560736,Action,Adventure,Sci-Fi,74,200000000,132 min,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"
115,117,X-Men: First Class�(2011),7.8,556713,Action,Adventure,Sci-Fi,65,160000000,132 min,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
116,118,Zootopia�(2016),8.1,309474,Animation,Adventure,Comedy,78,150000000,108 min,...,7.8,7.8,8.1,7.7,7.6,8.0,8,"$341,268,248",682515947,"$1,023,784,195"

In [48]:
movies_df.shape

(117, 58)

In [49]:
html_df=pd.read_html('IMDB.html')
html_df

[      0                                  1       2           3       4   \
 0      X                              Title  Rating  TotalVotes  Genre1
 1      1             12 Years a Slave(2013)     8.1         496     092
 2      2                   127 Hours (2010)     7.6         297     075
 3      3                       50/50 (2011)     7.7         283     935
 4      4                  About Time (2013)     7.8         225     412
 ..   ...                                ...     ...         ...     ...
 113  114                    Whiplash (2014)     8.5         492     285
 114  115              Wreck-It Ralph (2012)     7.7         295     125
 115  116  X-Men: Days of Future Past (2014)       8         560     736
 116  117          X-Men: First Class (2011)     7.8         556     713
 117  118                    Zootopia (2016)     8.1         309     474

             5          6           7       8        9   ...        48  \
 0       Genre2     Genre3  MetaCritic  Budget  Runtime  ...  Votes45A
 1    Biography      Drama     History      96       20  ...       8.0
 2    Adventure  Biography       Drama      82       18  ...       7.5
 3       Comedy      Drama     Romance      72        8  ...       7.6
 4       Comedy      Drama     Fantasy     NaN       12  ...       7.6
 ..         ...        ...         ...     ...      ...  ...       ...
 113      Drama      Music         NaN      88        3  ...       8.3
 114  Animation  Adventure      Comedy      72      165  ...       7.6
 115     Action  Adventure      Sci-Fi      74      200  ...       7.8
 116     Action  Adventure      Sci-Fi      65      160  ...       7.7
 117  Animation  Adventure      Comedy      78      150  ...       7.8

             49         50         51         52       53        54        55  \
 0    Votes45AM  Votes45AF  VotesIMDB  Votes1000  VotesUS  VotesnUS  Domestic
 1          7.9        8.0        7.8        7.8      8.1       8.0       7.7
 2          7.5        7.5        7.3        7.3      7.5       7.6       7.0
 3          7.6        7.6        7.4        7.4      7.5       7.4       7.0
 4          7.6        7.7        7.6        7.5      7.8       7.7       6.9
 ..         ...        ...        ...        ...      ...       ...       ...
 113        8.3        8.2        8.1        8.1      8.2       8.7       8.0
 114        7.6        7.7        7.4        7.4      7.5       7.4       7.2
 115        7.8        8.0        7.7        7.7      7.9       7.5       7.4
 116        7.6        7.8        7.6        7.5      7.7       7.6       7.3
 117        7.8        8.1        7.8        7.8      8.1       7.7       7.6

           56         57
 0    Foreign  Worldwide
 1        8.3        8.0
 2        7.7        7.6
 3        7.9        7.6
 4        7.8        7.7
 ..       ...        ...
 113      8.6        8.4
 114      7.9        7.6
 115      8.1        7.9
 116      7.8        7.7
 117      8.0        8.0

 [118 rows x 58 columns]]

In [50]:
pickle_df=pd.read_pickle('IMDB.p')
pickle_df

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a SlaveÂ (2013),8.1,496092,Biography,Drama,History,96.0,20000000.0,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8.0,"$56,671,993",131061209,"$187,733,202"
1,2,127 HoursÂ (2010),7.6,297075,Adventure,Biography,Drama,82.0,18000000.0,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50Â (2011),7.7,283935,Comedy,Drama,Romance,72.0,8000000.0,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About TimeÂ (2013),7.8,225412,Comedy,Drama,Fantasy,NaN,12000000.0,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,AmourÂ (2012),7.9,76121,Drama,Romance,NaN,94.0,8900000.0,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,114,WhiplashÂ (2014),8.5,492285,Drama,Music,NaN,88.0,3300000.0,107 min,...,8.1,8.1,8.2,8.7,8.0,8.6,8.4,"$13,092,000",35890041,"$48,982,041"
113,115,Wreck-It RalphÂ (2012),7.7,295125,Animation,Adventure,Comedy,72.0,165000000.0,NaN,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
114,116,X-Men: Days of Future PastÂ (2014),8.0,560736,Action,Adventure,Sci-Fi,74.0,200000000.0,132 min,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"
115,117,X-Men: First ClassÂ (2011),7.8,556713,Action,Adventure,Sci-Fi,65.0,160000000.0,132 min,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
116,118,ZootopiaÂ (2016),8.1,309474,Animation,Adventure,Comedy,78.0,150000000.0,108 min,...,7.8,7.8,8.1,7.7,7.6,8.0,8.0,"$341,268,248",682515947,"$1,023,784,195"

In [55]:
import sqlite3

In [57]:
conn = sqlite3.connect("IMDB.sqlite")
sql_df=pd.read_sql_query("Select * from IMDB;",conn)
sql_df

,X,Title,Rating,TotalVotes,Genre1,Genre2,Genre3,MetaCritic,Budget,Runtime,...,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS,Domestic,Foreign,Worldwide
0,1,12 Years a Slave (2013),8.1,496092,Biography,Drama,History,96,20000000,134 min,...,7.8,7.8,8.1,8.0,7.7,8.3,8,"$56,671,993",131061209,"$187,733,202"
1,2,127 Hours (2010),7.6,297075,Adventure,Biography,Drama,82,18000000,94 min,...,7.3,7.3,7.5,7.6,7.0,7.7,7.6,"$18,335,230",42403567,"$60,738,797"
2,3,50/50 (2011),7.7,283935,Comedy,Drama,Romance,72,8000000,100 min,...,7.4,7.4,7.5,7.4,7.0,7.9,7.6,"$35,014,192",4173591,"$39,187,783"
3,4,About Time (2013),7.8,225412,Comedy,Drama,Fantasy,NA,12000000,123 min,...,7.6,7.5,7.8,7.7,6.9,7.8,7.7,"$15,322,921",71777528,"$87,100,449"
4,5,Amour (2012),7.9,76121,Drama,Romance,,94,8900000,127 min,...,7.9,7.8,8.1,6.6,7.2,7.9,7.8,"$6,739,492",13100000,"$19,839,492"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,114,Whiplash (2014),8.5,492285,Drama,Music,,88,3300000,107 min,...,8.1,8.1,8.2,8.7,8.0,8.6,8.4,"$13,092,000",35890041,"$48,982,041"
113,115,Wreck-It Ralph (2012),7.7,295125,Animation,Adventure,Comedy,72,165000000,,...,7.4,7.4,7.5,7.4,7.2,7.9,7.6,"$189,422,889",281800000,"$471,222,889"
114,116,X-Men: Days of Future Past (2014),8.0,560736,Action,Adventure,Sci-Fi,74,200000000,132 min,...,7.7,7.7,7.9,7.5,7.4,8.1,7.9,"$233,921,534",513941241,"$747,862,775"
115,117,X-Men: First Class (2011),7.8,556713,Action,Adventure,Sci-Fi,65,160000000,132 min,...,7.6,7.5,7.7,7.6,7.3,7.8,7.7,"$146,408,305",207215819,"$353,624,124"
116,118,Zootopia (2016),8.1,309474,Animation,Adventure,Comedy,78,150000000,108 min,...,7.8,7.8,8.1,7.7,7.6,8.0,8,"$341,268,248",682515947,"$1,023,784,195"